*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.child{
    border: 1px solid black;
    height: 30px;
    width: 30px;
}
.container > .child:nth-child(16n+1) {
    width: 100%;
    border: 0;
    height: 0;
}

button {
    padding: 10px;
    border-radius: 4px;
    font-size: larger;
    background-color: bisque;
}