*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.container{
    display: flex;
    width: 420px;
    aspect-ratio: 1 / 1;
    border:2px solid black;
    flex-wrap: wrap;

}
.childRows{
    border: 1px solid black;
    width: 2px;
    aspect-ratio: 1 / 1;
    flex-grow: 1;
}
.child:nth-child(29n+1) {
    width: 100%;
    border: 0;
    height: 0 !important;
}

button {
    padding: 10px;
    border-radius: 4px;
    font-size: larger;
    background-color: bisque;
}