*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 420px;
    aspect-ratio: 1 / 1;
    border:1px solid black;
}
.childRows{
    display: flex;
    flex-wrap: wrap;
}
.childRows, .childCols{
    flex-grow: 1;
}


button {
    padding: 10px;
    border-radius: 4px;
    font-size: larger;
    background-color: bisque;
    cursor: pointer;
}